{% load staticfiles %}
<html>

<head>
  <meta charset="utf-8">

  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">

  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="shortcut icon" href="{% static "assets/images/excalibur-64x128.png " type="image/x-icon " %}">


  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic&amp;subset=latin">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat:400,700">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i">
  <link rel="stylesheet" href="{% static "assets/bootstrap-material-design-font/css/material.css" %}">
  <link rel="stylesheet" href="{% static "assets/et-line-font-plugin/style.css" %}">
  <link rel="stylesheet" href="{% static "assets/tether/tether.min.css" %}">
  <link rel="stylesheet" href="{% static "assets/bootstrap/css/bootstrap.min.css" %}">
  <link rel="stylesheet" href="{% static "assets/animate.css/animate.min.css" %}">
  <link rel="stylesheet" href="{% static "assets/dropdown/css/style.css" %}">
  <link rel="stylesheet" href="{% static "assets/theme/css/style.css" %}">
  <link rel="stylesheet" href="{% static "assets/mobirise-gallery/style.css" %}">
  <link rel="stylesheet" href="{% static "assets/mobirise/css/mbr-additional.css" type="text/css" %}">
  <link rel="stylesheet" href="{% static "assets/socicon/css/styles.css" %}">

  <title>Home</title>

</head>

<body>


<section>
            {% block content %}
            {% endblock %}
</section>




<footer>

    <div class="container">
        <p class="text-xs-center">Copyright (c) 2017 Afrotech Frenzy.</p>
    </div>
</footer>

<script src="{% static "assets/social-likes/social-likes.js"%}"></script>
<script src="{% static "assets/web/assets/jquery/jquery.min.js" %}"></script>
<script src="{% static "assets/tether/tether.min.js" %}"></script>
<script src="{% static "assets/bootstrap/js/bootstrap.min.js" %}"></script>
<script src="{% static "assets/smooth-scroll/smooth-scroll.js" %}"></script>
<script src="{% static "assets/viewport-checker/jquery.viewportchecker.js" %}"></script>
<script src="{% static "assets/dropdown/js/script.min.js" %}"></script>
<script src="{% static "assets/touch-swipe/jquery.touch-swipe.min.js" %}"></script>
<script src="{% static "assets/jquery-mb-ytplayer/jquery.mb.ytplayer.min.js" %}"></script>
<script src="{% static "assets/masonry/masonry.pkgd.min.js" %}"></script>
<script src="{% static "assets/imagesloaded/imagesloaded.pkgd.min.js" %}"></script>
<script src="{% static "assets/bootstrap-carousel-swipe/bootstrap-carousel-swipe.js" %}"></script>
<script src="{% static "assets/theme/js/script.js" %}"></script>
<script src="{% static "assets/mobirise-gallery/player.min.js" %}"></script>
<script src="{% static "assets/mobirise-gallery/script.js" %}"></script>
<script src="{% static "assets/jarallax/jarallax.js" %}"></script>



  <input name="animation" type="hidden">
  </body>
</html>
