{% extends 'arsenal/base.html' %}

{% block title%}Login {% endblock %}

{% block content%}

<br>
<br>
<br>
<br>

<div class="container content">
    
    <h3> Welcome </h3>
    <hr>
        
        <div class="jumbotron bg-info">Welcome 
            <a class="btn btn-danger-outline" href="/account/login/"> Login <i class="fa fa-power-off" aria-hidden="true"></i></a>
            or 
            <a class="btn btn-danger-outline" href="/account/login/"> Register <i class="fa fa-address-book-o" aria-hidden="true"></i></a>
        </div>

</div>





{% endblock %}