{% extends 'arsenal/base.html' %}
{% block title %} Manchester {% endblock %}
{% load staticfiles %}
{% block content %}
<br>
<br>
<br>
<br>

<div class="container">

  <h1>Manchester Reviews</h1>
  <hr><br><br>
{% for revs in object_list %}



<div class="container">

  <h2>   {{ revs.title }} - {{ revs.game_date }}</h2><a href="{% url 'manutd:review' pk=revs.pk  %}" class="btn btn-success">Review</a>
<br><hr>

</div>

{% empty %}
<div class="container jumbotron">No Game yet .</div>
{% endfor %}

{% endblock %}
</div>
